{
  "BUZZ_RELAY_URL": "http://localhost:3000",
  "BUZZ_PUSH_GATEWAY_URL": "http://localhost:8080",
  "BUZZ_DEV_PUBKEY": "<your-hex-pubkey-here>",
  "COLONY_GOOGLE_IOS_CLIENT_ID": "<ios-client-id>.apps.googleusercontent.com",
  "COLONY_GOOGLE_SERVER_CLIENT_ID": "<server-client-id>.apps.googleusercontent.com"
}
